In [5]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp311-cp311-macosx_14_0_arm64.whl.metadata (7.3 kB)
Downloading mysql_connector_python-9.4.0-cp311-cp311-macosx_14_0_arm64.whl (17.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.5/17.5 MB 2.7 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import mysql.connector

# Step 1: Read CSV using pandas
csv_file_path = '/Users/pratiibhas/Downloads/PAN Card Validation in SQL - Scripts/PAN Number Validation Dataset.csv'
df = pd.read_csv(csv_file_path)

# Step 2: Connect to MySQL database
conn = mysql.connector.connect(
    host='localhost',       # e.g. 'localhost'
    user='root',   # your MySQL username
    password='1234',   # your MySQL password
    database='demo'    # the database name
)

cursor = conn.cursor()

# Example: Print connection status
print("Connected to MySQL database")

Connected to MySQL database

In [ ]:
# Example: Insert pandas DataFrame rows into a MySQL table
table_name = 'pan_card_validation'
for i, row in df.iterrows():
    sql = f"INSERT INTO {table_name} (Pan_Numbers) VALUES (%s)"
    values = (row['Pan_Numbers'],)  #  column names as per our CSV and table
    cursor.execute(sql, values)

# Commit changes
conn.commit()

# Close connections
cursor.close()
conn.close()

print("Data inserted successfully")

Data inserted successfully

In [ ]:
print(df.columns)

Index(['Pan_Numbers'], dtype='object')

In [ ]:
df.head(150)